* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    color: #333;
    padding-top: 20px;
  }
  
  #table {
    text-align: left;
    line-height: 40px;
    border-collapse: separate;
    border-spacing: 0;
    border: 4px solid #6A64F1; 
    width: 600px;
    margin: 2px auto; 
    border-radius: .25rem;
    font-size: 20px;
  }
  
  thead tr:first-child {
    background: #6A64F1;
    color: #ffffff;
    border: none;
  }
  
  th:first-child,
  td:first-child {
    padding: 0 15px 0 20px;
  }
  
  th {
    text-align: center;
    font-weight: 900;
    font-size: 20px;
    color: #051207;
  }
  
  thead tr:last-child th {
    border-bottom: 3px solid #ddd;
  }
  
  tbody tr:hover {
    cursor: default;
  }
  
  tbody tr:last-child td {
    border: none;
  }
  
  tbody td {
    border-bottom: 2px solid #1cf732;
    color: #051207;/* #ffffff;*/
    font-weight: bold;
    font-size: 20px;
  }
  
  td:last-child {
    padding-right: 0px;
  }


  .title {
    padding-top: 3px;
    color: #032306;
  }
  
  .formbold-main-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 48px;
    margin-top: -48px; 
    position: relative;
  }


  #btnModify {
    position: absolute; 
    top: 90%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 18px;
    border-radius: 15px;
    padding: 15px 35px;
    border: none;
    font-weight: 500;
    background-color: #6A64F1;
    color: white;
    cursor: pointer;
    transition: transform 0.5s ease, box-shadow 0.3s ease;
  }
  #btnModify:hover {
    color: #000000;
    font-weight: 600;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2); 
  }
  
  .edit:hover {
    color: #08ac18;
  }
  
  .delete:hover {
    color: #141313;
  }


